@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: #ffffff;
  color: #dcefff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  width: 70rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.header {
  display: flex;
  width: 100vw;
  height: 20rem;
  max-width: 800px;
  margin-bottom: 3rem;
  flex-direction: column;
  align-items: center;
}

.octocat {
  width: 30%;
}

.github {
  width: 30%;
}

.user-form {
  width: 90%;
  max-width: 76%;
}

.user-form input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
  border: 1px solid #0f0f0f;
  border: none;
  border-radius: 8px;
  color: #0f0f0f;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05);
}

.user-form input::placeholder {
  color: #a7a6a6;
}

.user-form input:focus {
  outline: none;
}

#main {
  width: 90%;
  max-width: 84.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.card {
  width: 100%;
  max-width: 90%;
  background-color: #ececec;
  color: #0f0f0f;
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05);
  display: flex;
  padding: 2.5rem;
  margin: 0 1.5rem;
  justify-content: center;
}

.avatar {
  border-radius: 50%;
  border: 2px solid #505050;
  width: 150px;
  height: 150px;
}

.user-info {
  color: #0f0f0f;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 1rem;
  margin-left: .3rem;
}

#repos {
  width: 37rem;
}

.repo {
  text-decoration: none;
  color: #fff;
  background-color: #383838;
  font-size: .8rem;
  padding: .30rem .5rem;
  border-radius: .5rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
  cursor: pointer;
  display: inline-block;
}

@media (min-width: 320px) and (max-width: 480px){
  .container {
    width: 33rem;
    height: 40rem;
  }
  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    width: 82%;
  }
 .user-form {
   width: 22.7rem;
 }
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .user-info h2 {
    display: flex;
    font-size: 1.3rem;
    margin: .6rem auto;
    align-items: center;
    justify-content: center;
  }
  .user-info ul {
    width: 20rem;
    margin: 5px auto 25px;
    font-size: .8rem;
  }
  .user-info p {
    margin-top: 0;
  }
  #repos {
    width: 20rem;
    text-align: center; 
  }
  .avatar {
    width: 90px;
    height: 90px;
  }
  .header .octocat {
    width: 120px;
  }
  .header .github {
    width: 23%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 52.3rem;
    height: 40rem;
  }
  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
  }
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .user-info h2 {
    display: flex;
    font-size: 1.5rem;
    margin: .6rem auto;
    align-items: center;
    justify-content: center;
  }
  .user-info ul {
    width: 22rem;
    margin: 5px auto 25px;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
  .user-info p {
    margin-top: 0;
    font-size: 1rem; 
  }
  .user-form {
    width: 27rem;
  }
  #main {
    width: 30rem;
  }
  #repos {
    width: 23rem; 
    text-align: center;
  }
  .header .octocat {
    width: 27%;
  }
  .header .github {
    width: 25%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 56rem;
    height: 40rem;
  }
  .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
  }
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .user-info ul {
    width: 40rem;
    margin: 15px auto;
  }
  .user-info h2 {
    display: flex;
    font-size: 1.8rem;
    margin: .6rem auto;
    align-items: center;
    justify-content: center;
  }
  .user-info p {
    margin-top: 0;
  }
  .user-form input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #repos {
    width: 38rem; 
    text-align: center;
  }
  .header .octocat {
    width: 25%;
  }
  .header .github {
    width: 23%;
  }
}